@page "/products"

<PageTitle>Product</PageTitle>
<h1>Product</h1>
<hr />
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" @onclick="OpenNewModal">محصول جدید</button>

<!-- Modal -->
@if (OpenModal)
{
    <div class="modal fade show" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">@modalTitle</h1>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <div style="margin-top: 16px;">
                        <div class="col">
                            <div class="row">
                                <InputText class="form-control" @bind-Value="tableModel.Name" placeholder="نام محصول را وارد کنید " />
                            </div>
                            <div class="row" style="margin-top: 5px;">
                                <InputNumber class="form-control" @bind-Value="tableModel.Price" placeholder="قیمت محصول را وارد کنید " />
                            </div>
                            <div class="row" style="margin-top: 5px;">
                                <select class="form-select" aria-label="Default select example" @bind="tableModel.Type">
                                    <option selected>گروه محصول خود را انتخاب کنید</option>
                                    <option value="گردنبند">گردنبند</option>
                                    <option value="گوشواره">گوشواره</option>
                                    <option value="دستبند">دستبند</option>
                                    <option value="انگشتر">انگشتر</option>
                                    <option value="سنجاق سینه">سنجاق سینه</option>
                                    <option value="پا بند">پا بند</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="CloseModal">بستن</button>
                    <button class="btn btn-success" @onclick="Save">ذخیره</button>
                </div>
            </div>
        </div>
    </div>
}

@if (tableModels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TableModel item in tableModels)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Type</td>
                    <td>
                        <button class="btn btn-success" @onclick="() => EditP(item)">ویرایش</button>
                    </td>
                    <td><button class="btn btn-danger" @onclick="() => Del(item)">حذف</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private bool OpenModal = false;
    private string modalTitle = "";
    private IEnumerable<TableModel> tableModels { get; set; }
    private TableModel tableModel = new();

    private async void Save()
    {
        if (tableModel.Id > 0)
        {
            await _dsProduct.TableChange(2, tableModel);
        }
        else
        {
            await _dsProduct.TableChange(1, tableModel);
        }
        tableModels = await _dsProduct.Table1Select();
        tableModel = new();
        OpenModal = false;
        this.StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        tableModels = await _dsProduct.Table1Select();
    }

    private async void SaveEdit(TableModel tm)
    {
        await _dsProduct.TableChange(2, tm);
        tableModels = await _dsProduct.Table1Select();
        OpenModal = false;
        this.StateHasChanged();
    }

    private async void Del(TableModel tm)
    {
        await _dsProduct.TableChange(3, tm);
        tableModels = await _dsProduct.Table1Select();
        this.StateHasChanged();
    }

    private void OpenNewModal()
    {
        tableModel = new TableModel();
        modalTitle = "محصول جدید";
        OpenModal = true;
    }

    private void EditP(TableModel _tm)
    {
        tableModel = _tm;
        modalTitle = "ویرایش محصول";
        OpenModal = true;
    }

    private void CloseModal()
    {
        OpenModal = false;
    }
}
